PORT=3000
DATABASE_URL= mongodb+srv://maryamurshudlu_db_user:9aRtDC3IZUHO1I8o@myapi.0oiii59.mongodb.net/pokemon_api?retryWrites=true&w=majority&appName=MyAPI
JWT_SECRET=my_api_secret_2026_maryam_8472
BASE_URL=
REDIS_URL=
